spring:
  profiles:
    active: docker

  jackson:
    time-zone: Asia/Kolkata

  jpa:
    properties:
      hibernate:
        jdbc:
          time_zone: Asia/Kolkata

server:
  port: 8080

management:
  endpoints:
    web:
      exposure:
        include: health,info
